@charset "UTF-8";

/*------------------------------------------------------------------
1. General
----------------------------------------------------------------*/
/*---------------------------
	Fonts
----------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&amp;family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&amp;display=swap");
/* 1.1	Theme Reset Style */
html {
  font-size: 15px;
}

body {
  font-family: "Inter", sans-serif;
  color: #687693;
  background-color: #fff;
  font-size: 15px;
  overflow-x: hidden !important;
}
@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
}

p {
  font-size: 16px;
  color: #687693;
  line-height: 1.8em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #121725;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
}

ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  transition: all 0.2s;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.sr-only {
  display: none !important;
  opacity: 0;
  visibility: hidden;
}

/* 1.2 Global Elements */
.page-wrapper {
  position: relative;
  overflow: hidden;
}

#smooth-wrapper {
  height: 100%;
  overflow: hidden;
}

#smooth-content {
  height: auto;
}

.wow {
  visibility: hidden;
}

.fi:before {
  margin: 0;
}

.section-padding {
  padding: 120px 0;
}
@media (max-width: 991px) {
  .section-padding {
    padding: 90px 0;
  }
}
@media (max-width: 767px) {
  .section-padding {
    padding: 80px 0;
  }
}
